header {
	display: flex;
	padding: 4rem 0;
}

.summary__text {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

img {
	border-radius: 100%;
	margin-right: 2rem;
	width: 200px;
}

.subtitle {
	text-decoration: none;
}

section {
	border-top: 1px solid #DFDFDF;
	padding: 2rem 0;
}

h3 {
	display: flex;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1rem;
  justify-content: space-between;
}

h3 span:last-of-type {
	font-weight: normal;
}